@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @import './base/scrollbar';

  * {
    @apply focus:outline-0;
  }

  input[type='number']::-webkit-inner-spin-button,
  input[type='number']::-webkit-outer-spin-button {
    @apply appearance-none;
  }
}

@layer components {
  @import './components/swiper/pagination.scss';
}

.gm-style {
  .gm-style-iw-c {
    box-shadow: none;
    border-radius: 0;
    @apply max-lg:hidden lg:left-[160px] lg:top-[280px] p-0;
  }

  .gm-style-iw-d{
    @apply p-0;
    overflow: hidden !important;
  }

  .gm-style-iw-tc {
    @apply hidden;
  }

  .gm-ui-hover-effect {
    @apply invisible;
  }
}


